@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    transition: top 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.navbar-brand{
    font-size: 28px;
    font-weight: 500;
    color: #0866FF;
}
.navbar-brand:hover{
    color: #0866FF;
}
li{
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
}
li .nav-link:hover{
    color: #0866FF;
    border-bottom: 3px solid #0866FF;
}
.btn-search:focus {
    outline-color: transparent;
    outline-style:solid;
    border: none;
}

.r1{
    background-color: #ECEB98;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.c1{
    padding: 35px;
}
.c1 p{
    font-size: 25px;
}
.c1-btn{
    font-size: 14px;
    border: 2px solid #0867ffa6;
    border-radius: 5px;
    background-color: #ECEB98;
}

/* Enroll Form  */
.enroll-form{
    width: 60%;
    background-color: #fff;
    border-radius: 15px;
}
.card-title{
    color: #55585C;
    font-size: 18px;
    font-weight: 600;
}
.card-text{
    font-size: 17px;
    color: #65676B;
}
i{
    color: #E0900C;
    font-size: 15px;
}

/* Student Registered */
table, th, td{
    color: #55585C;
    border: 1px solid #111111;
}
th{
    text-align: center;
    background-color: rgb(188, 230, 255);
    padding: 10px 20px;
}
td{
    padding: 5px 5px;
}
.btn-edit{
    color: #fff;
    background-color: #E0900C;
    border: none;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 0px 5px;
}
.btn-delete{
    color: #fff;
    background-color: #d5002e;
    border: none;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 0px 5px;
}
/* Courses card  */
main .col{
    display: flex;
    justify-content: center;
}
.card-img{
    height: 179px;
}
.card-img img{
    height: 100%;
}
.col-3{
    display: flex;
    justify-content: center;
}
.card-r1-c1{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
}
#review-box{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #55585C;
    padding: 20px;
}
#review-text{
    padding: 10px;
}
#review-pf{
    width: 400px;
    text-align: center;
    padding: 10px;
}
#review-pf img{
    width: 100%;
    border-radius: 50%;
    padding: 3px; 
    border: 3px solid #0866FF;
}
#review-pf h5{
    padding-top: 10px;
    color: #5f5f5f;
}
#review-pf p{
    margin: 0;
    color: #6f6f6f;
    /* padding: 10px; */
}
#review-btn{
    width: 40px;
    height: 40px;
}
.r4-r2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.r4-r2-c1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.r4-r2-c1-r1{
    width: 200px;
    padding: 10px;
}
.r4-r2-c1-r1 img{
    border-radius: 50%;
    width: 100%;
    border: 3px solid #0866FF;
}
.r4-r2-c1-r2{
    padding: 10px;
    text-align: center;
}
.r4-r2-c1-r2 h6{
    color: #424446;
    font-size: 18px;
}
.r4-r2-c1-r2 p{
    font-size: 14px;
    color: #666666;
}
footer{
    background-color: #55585C;
    color: #fff;
}
.r5 i{
    color: #fff;
}
.r5-r1{
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}
.r5-r1-c1 h6{
    font-size: 28px;
}
.r5-r2 p{
    border-top: 1px solid #fff;
    padding: 10px 0;
    margin: 0;
    font-size: 12px;
}

/* Course  */
main .course-page{
    margin-top: 40px;
}

/* About Us */

.about-img{
    width: 600px;
    border-radius: 15px;
    overflow: hidden;
}
.about-img img{
    width: 100%;
}
.about-content p{
    font-size: 18px;
}
.core-value{
    border: 1px solid #0866FF;
}


/* Our Team  */
.team-card-pf{
    width: 180px;
    display: flex;
}
.team-card-pf img{
    width: 100%;
    border-radius: 50%;
    padding:2px;
    border: 3px solid #0866FF;
}
.team-card-body i{
    font-size: 22px;
    background-color: #e0e0e0;
    padding: 8px;
    border-radius: 15px;
}
.box{
    border: 1px solid #0866FF;
}
.map iframe{
    width: 1300px;
}

/* opportunity */
.jobs-list-container {
    max-width: 900px;
    margin: 20px auto;
    font-family: "Rubik", sans-serif;
  }
  
  .jobs-list-container h2 {
    font-size: 30px;
    border-left: 4px solid #023047;
    padding-left: 20px;
  }
  
  .jobs-list-container .jobs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
  
  .jobs-list-container .jobs img {
    width: 60px;
  }
  
  .jobs-list-container .job {
    box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
    padding: 24px;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 400ms ease;
  }
  
  .jobs-list-container .job:hover {
    transform: scale(1.03);
  }
  
  .jobs-list-container .open-positions {
    position: absolute;
    top: 40px;
    right: 24px;
    color: #e63946;
  }
  
  .jobs-list-container .job-title {
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
    color: #023047;
  }
  
  .jobs-list-container .details {
    margin-top: 6px;
    font-size: 14px;
    color: #333;
    line-height: 1.8;
    flex: 1;
  }
  
  .jobs-list-container .details-btn {
    text-decoration: none;
    border: 1px solid #023047;
    color: #000;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    transition: all 400ms ease;
  }
  
  .jobs-list-container .details-btn:hover {
    background: #023047;
    color: #fff;
  }
  
  .jobs-list-container .job-search {
    width: 100%;
    padding: 12px 24px;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 940px) {
    .jobs-list-container .jobs {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 640px) {
    .jobs-list-container .jobs {
      grid-template-columns: 1fr;
      max-width: 400px;
      margin: 0 auto;
    }
  }  
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .map iframe{
        width: 1000px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #review-box{
        width: 650px;
    }
    .r4-r2-c1-r1{
        width: 80px;
        padding: 10px;
    }
    .map iframe{
        width: 750px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #review-box{
        width: 400px;
    }
    .map iframe{
        width: 740px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    li{
        font-size: 15px;
    }
    .r1{
        flex-wrap: wrap;
    }
    .r1 .c1 p{
        font-size: 15px;
    }
    .r1 .c1 .c1-btn{
        font-size: 13px;
        padding: 6px;
    }
    .r1 .c2 img{
        width: 200px;
    }
    #review-box{
        width: 260px;
        flex-wrap: wrap;
        text-align: center;
    }
    #review-pf{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .r4-r2-c1-r1{
        width: 70px;
    }
    .r4-r2-c1-r2 h6{
        font-size: 14px;
    }
    .r5-r1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 16px;
    }
    .r5-r1-c2 a{
        text-align: center;
    }
    .r5-r1-c3{
        text-align: center;
    }
    .r5-r1-c4{
        text-align: center;
    }
    .map iframe{
        width: 300px;
    }
}